table{
    border-collapse: collapse;
    width: 200px;
    margin-top: 5px; 
}

thead{
    background-color: red;
    border: 1px solid black;
    color: white;
}

td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

tfoot{
    background-color: silver;
    color: red;
}